{% extends "base/file_sharing.html"%}
{% load file_tags %}
{% load i18n %}

{% block content %}
<table class="table">
	<thead>
		<th>#</th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Size" %}</th>
        <th>{% trans "Operations" %}</th>
	</thead>
{% for f in folders %}
	<tr>
		<td><i class="icon-folder-close"></i></td>
		<td>
			<a href="{{f.get_absolute_url}}">{{f.name}}</a>
		</td>
		<td></td>
        <td></td>
	</tr>
{% endfor %}

{% for f in files %}
	<tr>
		<td><i class="{{f.file_type|get_icon}}"></i></td>
		<td>
			{{f.name}}
		</td>
		<td>{{f.size|filesizeformat}}</td>
        <td>
            <a class="btn" href="#"><i class="icon-remove"></i></a>
            <a class="btn" href="#"><i class="icon-download"></i></a>
            <a class="btn" href="#"><i class="icon-globe"></i></a>
        </td>
	</tr>
{% endfor %}

</table>
{% endblock content %}
